.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%; /* Adjusted to take full height */
  margin-top: 5px;
  flex-wrap: wrap; /* Allow wrapping if needed */
}

#graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px; /* Adjust height as needed */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.slider-container img{
  margin-top: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.slider-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  height: 150px;
}

.slider-panel h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

#svg-panel {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.toggle-button {
  justify-content: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  box-shadow: 0 4px #999;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.toggle-button.active {
  background-color: #d4d4d4;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.category-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  gap: 10px; /* Space between buttons */
  justify-items: center; /* Center align buttons in their columns */
  width: 15%;
  margin-top: 10px;
}

.category-button {
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  border-radius: 50%;
  margin: 5px 0;
  border: none;
  color: rgba(222, 211, 200, 0.956);
  cursor: pointer;
  box-shadow: 0 4px #999;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(0.85);
}

.category-button.active {
  box-shadow: 0 2px #666;
  border: 2px solid #f40000;
  transform: translateY(2px);
  filter: brightness(1);
}

#event-bar-chart rect {
  stroke: black; /* Optional: add a border */
  stroke-width: 1; /* Optional: border width */
  transition: fill 0.2s ease;
}

.hidden {
  display: none;
}

.event-panel {
  position: absolute;
  justify-content: center;
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Initially hidden */
  transform: translate(35%, 35%); 
}

.event-panel-content {
  position: relative;
}

.blur-background {
  filter: blur(5px);
  pointer-events: none; /* Prevent interaction with blurred content */
}

.close-button {
  position: absolute;
  top: -30px;
  right: -5px;
  font-size: 24px;
  cursor: pointer;
}

#fetchRandomEventSVG {
  cursor: pointer;
  transition: transform 0.3s, fill 0.3s;
}


.submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it spans the full width of the parent container */
  margin-top: 20px; /* Add some space above the button */
}


.submit-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  cursor: pointer;
  box-shadow: 0 4px #999;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center; /* Ensure the text is centered */
  font-size: 16px; /* Adjust font size as needed */
}


.submit-button:hover {
  background-color: #93bae4; /* Darker shade for hover effect */
}

.subtext {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}